<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис сокращения ссылок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Введите длинную ссылку для сокращения</h1>
    <form action="/shorten" method="POST">
        <input type="text" name="long_url" placeholder="Ваша длинная ссылка" required>
        <button type="submit">Сократить</button>
    </form>
</body>
</html>
